<!-- Start Breadcrumbs -->
<app-breadcrumbs title="СПИСОК ПРОЕКТІВ" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="instructorList">



    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center g-2">
                        <div class="col-lg-3 me-auto">
                            <h6 class="card-title mb-0">
                                Список проектів
                                <span class="badge bg-primary ms-1 align-baseline">{{ totalProjects }}</span>
                            </h6>
                        </div><!--end col-->
                        <div class="col-xl-2 col-lg-3 col-sm-5">
                        </div><!--end col-->
                        <div class="col-sm-auto">
                            <div class="hstack gap-2">

                            </div>
                        </div><!--end col-->
                    </div>
                </div>
                <div class="card-body mt-3">
                    <div class="table-responsive table-card">
                        <table class="table table-centered table table-hover table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>

                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('name')">Ім'я проекту
                                    </th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('created_at')">Створено в</th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('updated_at')">Оновлено в</th>
                                    <th scope="col" class="sort cursor-pointer" (click)="onSort('updated_at')">Студенти
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let project of projects; let i = index"
                                    [routerLink]="['/tickets/list', project.project_id]">
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.created_at | date }}</td>
                                    <td>{{ project.updated_at | date }}</td>
                                    <td>{{ getStudentNames(project.account_links) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="noresult" *ngIf="projects.length === 0">
                    <div class="text-center py-4">
                        <i class="ph-magnifying-glass fs-1 text-primary"></i>
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">We did not find any projects for your search.</p>
                    </div>
                </div>
                <div class="row align-items-center mt-4 pt-3" *ngIf="projects.length > 0">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Показано <span class="fw-semibold">{{projects.length}}</span> з <span
                                class="fw-semibold">{{totalProjects}}</span> Результатів
                        </div>
                    </div>
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination class="pagination-wrap hstack justify-content-center gap-2"
                            [totalItems]="totalProjects" [itemsPerPage]="pageSize" (pageChanged)="onPageChange($event)">
                        </pagination>

                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->


<!-- Modal -->


